<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!--  <script type="text/javascript" src="/scripts/jquery-3.2.1.min.js"></script> -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
    <!-- <script type="text/javascript" src="/scripts/clipboard.js"></script> -->
    <title>Reminders</title>
  </head>
  <body>
    <% if session[:error] %>
      <p class="flash error"><%= session.delete(:error) %></p>
    <% end %>
    <% if session[:success] %>
      <p class="flash success"><%= session.delete(:success) %></p>
      <div class="reminder_copy_buttons">
        <% if session[:reminder_copy_content] %>
          <p class="copy_data" id="reminder_copy"><%= session.delete(:reminder_copy_content) %></p>
          <a class="copy-text button" data-clipboard-target="#reminder_copy" href="#">COPY RT NOTE</a>
        <% end %>

        <% if session[:reminder_copy_date] %>
          <p class="copy_data" id="date_copy"><%= session.delete(:reminder_copy_date) %></p>
          <a class="copy-text button" data-clipboard-target="#date_copy" href="#">COPY DATE</a>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>