<header>
  <h1>Reminders</h1>

  <form method="post" action="/sign_out">
    <button type="submit">Sign Out</button>
  </form>

  <form class="delete" method="post" action="/delete_all_complete">
    <button onclick="confirm_destructive_action(this)" type="submit">Delete all completed reminders</button>
  </form>

  <label>
    <input class="show_past_reminders" type="checkbox" onchange="hide_reminders_if_checked()">
    Show Past Reminders
  </label>
</header>

<main>
  <% @reminder_list.sort.each do |date, reminders_array| %>
    <article class="<%= date_classes(date) %>">
      <h2><%= display_date(date) %></h2>
      <table>
        <tr>
          <th>Ref #</th>
          <th>Priority</th>
          <th>Service Type</th>
          <th>Notes</th>
        </tr>
        <% sort_reminders(reminders_array) do |reminder| %>
          <tr class="<%= reminder_classes(reminder) %>">
            <td>
              <a target="_blank" href="<%= reference_url(reminder[:reference]) %>"><%= reminder[:reference] %></a>
            </td>
            <td><%= reminder[:priority] %></td>
            <td>
              <% if reminder[:vocus_ticket] != 0 %>
                <a target="_blank" href="<%= vocus_url(reminder[:vocus_ticket]) %>">
                  <%= reminder[:service_type].upcase %></td>
                </a>
              <% else %>
                <%= reminder[:service_type].upcase %></td>
              <% end %>
            <td><%= reminder[:notes] %></td>
            <td>
              <form method="get" action="/<%= date %>/<%= reminder[:id] %>/<%= inverse_complete_value(reminder) %>">
                <button type="submit">Mark as <%= inverse_complete_value(reminder) %></button>
              </form>
            </td>
            <td>
              <form class="delete"method="post" action="/<%= date %>/<%= reminder[:id] %>/delete">
                <button type="submit">Delete Reminder</button>
              </form>
            </td>
          </tr>
        <% end %>
      </table>
    </article>
    <% end %>

  <div class="new_reminder">
    <h2>New Reminder</h2>
    <form method="post" action="/add_reminder">
      <section class="remind_me">
        <h3>Remind me in:</h3>
          <label><input type="radio" name="date" value="1day" <%= checked(params[:date], '1day') %>>Tomorrow</label>
          <label><input type="radio" name="date" value="2day" <%= checked(params[:date], '2day') %>>Two days</label>
          <label><input type="radio" name="date" value="3day" <%= checked(params[:date], '3day') %>>Three days</label>
          <label><input type="radio" name="date" value="5day" <%= checked(params[:date], '5day') %>>Five days</label>
          <label><input type="radio" name="date" value="7day" <%= checked(params[:date], '7day') %>>Seven days</label>

          <label id="custom_date">Custom Date:
            <input name="custom_date" type="date" value="<%= current_date %>">
          </label>
          <input type="reset" />
      </section>

      <section class="service_type">
        <h3>Service Type:</h3>
        <label><input type="checkbox" name="is_vocus?" value="true">VOCUS</label>
        <% settings.service_types.each do | service | %>
          <label><input type="radio" name="service_type" value="<%= service %>" <%= checked(params[:service_type], service) %>><%= service.upcase %></label>
        <% end %>
      </section>

      <section class="reference">
        <label for="reference"><h3>Reference Number:</h3>
          <input type="number" name="reference" value="<%= params[:reference] %>">
        </label>
      </section>

      <section class="vocus">
        <label for="vocus_ticket"><h3>VOCUS Ticket Number:</h3>
          <input type="number" name="vocus_ticket" value="<%= params[:vocus_ticket] %>">
        </label>
      </section>

      <section class="priority">
        <label for="priority"><h3>Priority:</h3></label>
          <select name="priority">
          <% 5.times do |x| %>
            <% x += 1 %>
            <option <%= 'selected' if x == params[:priority].to_i %> value="<%= x %>"><%= x %></option>
          <% end %>
          </select>
        </section>


      <section class="notes">
        <label for="notes"><h3>Notes:</h3>
          <textarea id="notes" name="notes"><%= params[:notes] %></textarea>
        </label>
        <div class="quick_notes">
          <% settings.quick_notes.each do |note| %>
            <button type="button" onclick="add_to_notes('<%= note %>')"><%= note %></button>
          <% end %>
        </div>
      </section>
      <button type="submit">Add Reminder</button>
    </form>
  </div>
</main>