<header>
  <div class="left_column">
    <h1>Reminders</h1>
    <section>
      <form method="post" action="/sign_out">
        <button type="submit">Sign Out</button>
      </form>

      <form method="post" action="/delete_all_complete">
        <button onclick="return confirm('Delete all complete reminders?')" type="submit">Delete all completed reminders</button>
      </form>

      <form method="post" action="/make_incomplete_current">
        <button onclick="return confirm('Move incomplete past reminders to current date')" type="submit">Make all incomplete past reminders current (todays date)</button>
      </form>
    </section>

    <section>
      <label>
        <input class="show_past_reminders" type="checkbox" onchange="hide_reminders_if_checked('show_past_reminders', 'past_date')">
        Show Past Reminders
      </label>

      <label>
        <input class="show_future_reminders" type="checkbox" onchange="hide_reminders_if_checked('show_future_reminders', 'future_date')">
        Show Future Reminders
      </label>
    </section>

    <section>
      <label for="show_above_priority">Only show reminders priority
        <select class="show_above_priority" type="select" onchange="hide_reminders_below_priority()">
          <% 5.times do |x| %>
            <% x += 1 %>
            <option value="<%= x %>"><%= x %></option>
          <% end %>
        </select>
        or above
      </label>
    </section>
  </div>

  <div class="right_column">
    <h2>Quick Clipboard</h2>
    <p>Support Templates</p>
    <% @quick_copy.each do |name, content| %>
      <p class="copy_data" id="<%= name %>"><%= content %></p>
      <a class="copy-text button" data-clipboard-target="#<%= name %>" href="#"><%= name.upcase %></a>
    <% end %>

    <p class="custom_copy">Custom</p>
    <% @quick_copy_custom.each do |name, content| %>
      <p class="copy_data" id="<%= name %>"><%= content %></p>
      <a class="copy-text button" data-clipboard-target="#<%= name %>" href="#"><%= name.upcase %></a>
    <% end %>
    <a href="/new_custom_clip">Create New Custom Clip</a>
  </div>
</header>

<main>
  <% @reminder_list.sort.each do |date, reminders_array| %>
    <article class="<%= date_classes(date) %>">
      <h2><%= display_date(date) %></h2>
      <table>
        <tr>
          <th>Ref #</th>
          <th>Priority</th>
          <th>Service Type</th>
          <th>Notes</th>
        </tr>
        <% sort_reminders(reminders_array) do |reminder| %>
          <tr class="<%= reminder_classes(reminder) %>">
            <td>
              <a target="_blank" href="<%= reference_url(reminder[:reference]) %>"><%= reminder[:reference] %></a>
            </td>
            <td><%= reminder[:priority] %></td>
            <td>
              <% if reminder[:vocus_ticket] != 0 %>
                <a target="_blank" href="<%= vocus_url(reminder[:vocus_ticket]) %>">
                  <%= reminder[:service_type].upcase %></td>
                </a>
              <% else %>
                <%= reminder[:service_type].upcase %></td>
              <% end %>
            <td><%= reminder[:notes] %></td>
            <td>
              <form method="get" action="/<%= date %>/<%= reminder[:id] %>/<%= inverse_complete_value(reminder) %>">
                <button type="submit">Mark as <%= inverse_complete_value(reminder) %></button>
              </form>
            </td>
            <td>
              <form method="post" action="/<%= date %>/<%= reminder[:id] %>/delete">
                <button onclick="return confirm('Delete reminder?')" type="submit">Delete</button>
              </form>
            </td>
            <td>
              <form method="get" action="/<%= date %>/<%= reminder[:id] %>/edit">
                <button type="submit">Edit</button>
              </form>
          </tr>
        <% end %>
      </table>
    </article>
    <% end %>

  <div class="new_reminder">
    <h2>New Reminder</h2>
    <form method="post" action="/add_reminder">
      <section class="remind_me">
        <h3>Remind me in:</h3>
          <label><input type="radio" name="date" value="1day" <%= checked(params[:date], '1day') %>>Tomorrow</label>
          <label><input type="radio" name="date" value="2day" <%= checked(params[:date], '2day') %>>Two days</label>
          <label><input type="radio" name="date" value="3day" <%= checked(params[:date], '3day') %>>Three days</label>
          <label><input type="radio" name="date" value="5day" <%= checked(params[:date], '5day') %>>Five days</label>
          <label><input type="radio" name="date" value="7day" <%= checked(params[:date], '7day') %>>Seven days</label>

          <label onclick="deselect('input[name=date]')" id="custom_date">Custom Date:
            <input name="custom_date" type="date" value="<%= current_date %>">
          </label>
          <input type="reset" />
      </section>

      <section class="service_type">
        <h3>Service Type:</h3>
        <label><input type="checkbox" name="is_vocus?" value="true" <%= checked(params[:is_vocus?], 'true') %>>VOCUS</label>
        <% settings.service_types.each do | service | %>
          <label><input type="radio" name="service_type" value="<%= service %>" <%= checked(params[:service_type], service) %>><%= service.upcase %></label>
        <% end %>
      </section>

      <section class="reference">
        <label for="reference"><h3>Reference Number:</h3>
          <input type="number" name="reference" value="<%= params[:reference] %>">
        </label>
      </section>

      <section class="vocus">
        <label for="vocus_ticket"><h3>VOCUS Ticket Number:</h3>
          <input type="number" name="vocus_ticket" value="<%= params[:vocus_ticket] %>">
        </label>
      </section>

      <section class="priority">
        <label for="priority"><h3>Priority:</h3></label>
        <select name="priority">
        <% 5.times do |x| %>
          <% x += 1 %>
          <option <%= 'selected' if x == params[:priority].to_i %> value="<%= x %>"><%= x %></option>
        <% end %>
        </select>
      </section>

      <section class="notes">
        <label for="notes"><h3>Notes:</h3>
          <textarea id="notes" name="notes"><%= params[:notes] %></textarea>
        </label>
        <div class="quick_notes">
          <% settings.quick_notes.each do |note| %>
            <button type="button" onclick="add_to_notes('<%= note %>')"><%= note %></button>
          <% end %>
        </div>
      </section>
      <button type="submit">Add Reminder</button>
    </form>
  </div>
</main>