<h1>Reminders List:</h1>

<form method="post" action="/sign_out">
  <button type="submit">Sign Out</button>
</form>

<form method="post" action="/delete_all_complete">
  <button type="submit">Delete all completed reminders</button>
</form>

<label>
  <input class="show_past_reminders" type="checkbox" onchange="hide_reminders_if_checked()">
  Show Past Reminders
</label>

<main>
  <% @reminder_list.sort.each do |date, reminders_array| %>
    <article class="<%= date_classes(date) %>">
      <h2><%= display_date(date) %></h2>
      <table>
        <tr>
          <th>Ref #</th>
          <th>Service Type</th>
          <th>Priority</th>
          <th>Notes</th>
        </tr>
        <% sort_reminders(reminders_array) do |reminder_hash| %>
          <tr class="<%= reminder_classes(reminder_hash) %>">
            <td>
              <a target="_blank" href="<%= reference_url(reminder_hash[:reference]) %>"><%= reminder_hash[:reference] %></a>
            </td>
            <td><%= reminder_hash[:service_type].upcase %></td>
            <td><%= reminder_hash[:priority] %></td>
            <td><%= reminder_hash[:notes] %></td>
            <td>
              <form method="get" action="/<%= date %>/<%= reminder_hash[:id] %>/<%= inverse_complete_value(reminder_hash) %>">
                <button type="submit">Mark as <%= inverse_complete_value(reminder_hash) %></button>
              </form>
            </td>
          </tr>
        <% end %>
      </table>
    </article>
  <% end %>
</main>

<h2>New Reminder:</h2>
<form method="post" action="/add_reminder">
  <section>
    <h3>Remind me in:</h3>
      <label><input type="radio" name="date" value="1day" <%= checked(params[:date], '1day') %>>Tomorrow</label>
      <label><input type="radio" name="date" value="2day" <%= checked(params[:date], '2day') %>>Two days</label>
      <label><input type="radio" name="date" value="3day" <%= checked(params[:date], '3day') %>>Three days</label>
      <label><input type="radio" name="date" value="5day" <%= checked(params[:date], '5day') %>>Five days</label>
      <label><input type="radio" name="date" value="7day" <%= checked(params[:date], '7day') %>>Seven days</label>
      <label>Custom Date:
        <input name="custom_date" type="date" value="<%= current_date %>">
      </label>
  </section>

  <section>
    <label for="reference"><h3>Reference Number:</h3>
      <input type="number" name="reference" value="<%= params[:reference] %>">
    </label>
  </section>

  <section>
    <label for="vocus_ticket"><h3>VOCUS Ticket Number:</h3>
      <input type="number" name="vocus_ticket" value="<%= params[:vocus_ticket] %>">
    </label>
  </section>

  <section>
    <h3>Service Type:</h3>
    <label><input type="checkbox" name="is_vocus?" value="true">VOCUS</label>
    <% settings.service_types.each do | service | %>
      <label><input type="radio" name="service_type" value="<%= service %>" <%= checked(params[:service_type], service) %>><%= service.upcase %></label>
    <% end %>
  </section>

  <section>
    <label for="notes"><h3>Notes:</h3>
      <textarea id="notes" name="notes"><%= params[:notes] %></textarea>
    </label>
    <div class="quick_notes">
      <% settings.quick_notes.each do |note| %>
        <button type="button" onclick="add_to_notes('<%= note %>')"><%= note %></button>
      <% end %>
    </div>
  </section>

  <section>
    <label for="priority"><h3>Priority</h3></label>
      <select name="priority">
      <% 5.times do |x| %>
        <% x += 1 %>
        <option value="<%= x %>"><%= x %></option>
      <% end %>
    </select>

  <button type="submit">Add Reminder</button>
</form>
