<h1>Reminders List:</h1>

<form method="post" action="/sign_out">
  <button type="submit">Sign Out</button>
</form>

<main>
  <% @reminder_list.each do |date, reminders_array| %>
    <h2><%= display_date(date) %></h2>
    <table>
    <tr>
      <th>Ref #</th>
      <th>Service Type</th>
      <th>Notes</th>
    <% reminders_array.each do |reminder_hash| %>
      <tr>
        <td><%= reminder_hash[:reference] %></td>
        <td><%= reminder_hash[:service_type].upcase %></td>
        <td><%= reminder_hash[:notes] %></td>
        <td>
          <form method="post" action="/<%= date %>/<%= reminder_hash[:id] %>/<%= inverse_complete_value(reminder_hash) %>">
            <button type="submit">Mark as <%= inverse_complete_value(reminder_hash) %></button>
          </form>
        </td>
      </tr>
    <% end %>
    </table>
  <% end %>
</main>

<h2>New Reminder:</h2>
<form method="post" action="/add_reminder">
  <section>
    <h3>Remind me in:</h3>
      <label><input type="radio" name="date" value="1day">Tomorrow</label>
      <label><input type="radio" name="date" value="2day">Two days</label>
      <label><input type="radio" name="date" value="3day">Three days</label>
      <label><input type="radio" name="date" value="5day">Five days</label>
      <label><input type="radio" name="date" value="7day">Seven days</label>
      <label><input type="radio" name="date" value="custom_date">Custom Date:
        <input name="custom_date" type="date" value="<%= current_date %>">
      </label>
  </section>

  <section>
    <label for="reference"><h3>Reference Number:</h3>
      <input type="number" name="reference">
    </label>
  </section>

  <section>
    <h3>Service Type:</h3>
    <% @service_types.each do | service_type | %>
      <label><input type="radio" name="service_type" value="<%= service_type %>"><%= service_type.upcase %></label>
    <% end %>
  </section>

  <section>
    <label for="notes"><h3>Notes:</h3>
      <textarea name="notes"></textarea>
    </label>
  </section>
  <button type="submit">Add Reminder</button>
</form>
